a {
	color: #3cabea;
	text-decoration: none;
}
a:visited {
	color: #3cabea;
	text-decoration: none;
}
a:hover {
	color: #1d57ad;
	text-decoration: underline;
}
body {
	font-family:Arial;
	color:#555;
	height:100%;
	margin:0;
}
.clr {
	clear: both;
}
.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 100001;
	display: flex;
	align-items: center;
	justify-content: center;  
	background: #fff;
	transition: all 0.2s;
	opacity: 1;
}
.preloader-remove {
	opacity: 0;
	z-index: -10;
}
.lloading {
	opacity: 0;
	animation: showDiv 1s forwards;
}
@keyframes showDiv {
	  0%, 99% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
}
.preloader-5 {
	display: block;
	position: relative;
	width: 150px;
	height: 150px;
	margin: 30px auto;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #337AB7;
	animation: preloader-5-spin 2s linear infinite;
}
.preloader-5:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #BFE2FF;
	animation: preloader-5-spin 3s linear infinite;
}
.preloader-5:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #337AB7;
	animation: preloader-5-spin 1.5s linear infinite;
}
@keyframes preloader-5-spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input[type=submit],[type=button] {
	font-size: 100%;
	cursor: pointer;
	border: none;
	padding: 10px;
	margin-right: 10px;
	color: #FFF;
	border-radius: 4px;
	background: #698194;	
}
input[type=text],[type=email],[type=number],[type=password],select,textarea {
	font-family:Arial;
	font-size: 100%; 
	border: 1px solid #CCCCCC;
	width:100%;
	padding:10px;
	margin:5px 0;
}
select {
	padding:10px 6px;
}
textarea {
	height: 300px;
}
input[type=text]:read-only {
	color: #888888;
	background: #EEEEEE;
}
td {
	padding:20px
}
table {
	border-spacing:0
}
.tr {
	text-align: right;
	}
h1 {
	font-weight: normal;
	margin: 0 0 25px 0;
	line-height: 90%;
}
h2 {
	font-size: 140%;
	font-weight: normal;
	margin: 10px 0;
	line-height: 90%;
}
hr {
	border: none;
	margin: 20px 0;
	background: #d0d0d0;
	margin: 25px 0;
	height: 4px;
}
.device {
	background: #EEE;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 15px;
}
.device img {
	width: 200px;
}
.dev_status {
	margin: 10px 0 15px 0;
	width: 200px;
	text-align: center;
}
.device_main {
	background: #EEE;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 15px;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
}
.device_main img {
	width: 160px;
}
.device_note {
	padding: 5px 10px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}
.dev_left {
	width: 220px;
	float: left;
	border-right: 6px solid #CCC;
	margin-right: 20px;
}
.dev_stat {
	font-size: 14px;
}
.dev_stat div {
	background: #'.$resume[1].';
	display: inline-block;
}
.tools {
	margin-top: 10px;
	padding: 10px;
	border: 2px solid #CCC;
	background: #F8F8F8;
	display: inline-block;
	border-radius: 12px;
}
.page {
	background: #f8ede3;
	border: 2px solid #ebded3;
	padding: 10px;
	margin-top: 5px;
}
.term {
	padding: 10px; 
	border: 1px solid #CCCCCC; 
	background: #F8F8F8; 
	overflow: auto; 
	height: 140px;
	margin-top: 5px;
}
.term_answer {
	padding: 10px; 
	border: 1px solid #CCCCCC; 
	background: #F8F8F8; 
	overflow: auto; 
	height: 140px;
	margin-top: 5px;
}
.term_answer_item {
	border-bottom: 1px dotted #888888; 
	padding: 5px 0px;
}
.term_item {
	border-bottom: 1px dotted #888888; 
	padding: 5px 0px;
}
.term_item:hover {
	background-color:#bfd390; 
	cursor: pointer;
}
.head {
	height: 80px;
	background-color: #e8effb;
	color: #222;
}
.head div {
	margin-right: 10px;
}
.icon_act {
	border: 2px solid #444 !important;
	background: #EEE !important;
	color: #444 !important;
}
.icon-active {
	color: #ff8c00 !important;
}
.bottom {
	height: 1px;
	background-color: #363636;
	color: #EEEEEE;
}
.bottom a {
	color: #cefa00;
	text-decoration: none;
}
.bottom a:visited {
	color: #cefa00;
	text-decoration: none;
}
.bottom a:hover {
	color: #cefa00;
	text-decoration: underline;
}

.panel	{
	color: #080e19;
	background-color: #384861;
}
.check_panel {
	background-color: #e8e7e7;
	border: 1px solid #d0d0d0;
	padding: 10px;
}
#menu {
	width: 210px;
}
#menu div,#menu_cont div {
	cursor: pointer;
	padding: 10px;
	margin-bottom: 3px;
	border-bottom: 1px solid #597787;
}
#menu a, #menu_cont a {
	display: block;
 	cursor: pointer;
	padding: 10px;
	margin-bottom: 3px;
	border-bottom: 1px solid #597787;
	color: #FFF;
}
#menu a:hover, #menu_cont a:hover {
	color: #e6f699;
	text-decoration: none;
}
#menu_cont {
	display: none;
	border-top: 85px solid #363636;
	padding: 8px 13px 25px 13px;
	position: absolute;
	width: 250px;
	z-index: 1;
}
.menu_mobile {
	position: absolute;
	background-color: #384861;
}
.submenu {
	font-size: 12px;
	margin-left: 20px;
	padding: 10px;
	margin-bottom: 3px;
	border-bottom: 1px solid #48616e !important;
}
.active {
	color: #cefa00 !important;
}
.menu div:hover {
	background-color: #363636;
	cursor: pointer;
}
.login_table {
	color: #FFFFFF;
	background: #5b858d;
}
.login_div {
	width: 302px; 
	border-radius: 50px;
	padding: 30px 30px 35px 30px;
	color: #FFFFFF;
	background: #1d304e;
	opacity: 0.8;
}

.login_div input[type=submit] {
	font-size: 100%;
	cursor: pointer;
	border: none;
	padding: 15px;
	margin-top: 10px !important;
	color: #FFF;
	border-radius: 8px;
	background: #0076f9;	
}
.list_txt {
	margin-left: 140px;
	min-height: 30px;
}
.login_error {
	margin-top: 20px;
	padding: 20px 10px;
	background: #9e0b0f;
}
.error_div {
	width: 500px; 
	padding: 20px;
	color: #FFFFFF;
	background: #363636;
}
.status_ok {
	margin-top: 20px;
	padding: 20px 10px;
	background: #6ead21;
	color: #FFF;
	margin-bottom: 20px;
}
.status_error {
	margin-top: 20px;
	padding: 20px 10px;
	background: #9e0b0f;
	color: #FFF;
	margin-bottom: 20px;
}
.check {
	padding: 10px;
	background: #e8dfd5;
}
.comment {
	color: #BBB;
	font-size: 12px;
	font-style: italic;
}
.icon_cont {
	height:20px;
	width:20px;
	float:right;
}
.chat.icon {
	color: #11a1e4;
	position: absolute;
	margin-left: 2px;
	margin-top: 4px;
	width: 15px;
	height: 10px;
	border: solid 1px currentColor;
	background-color: currentColor;
	border-radius: 2px;
}
.chat.icon:before {
	content: '';
	position: absolute;
	left: 3px;
	top: 8px;
	width: 4px;
	height: 4px;
	background-color: currentColor;
	border-bottom: solid 1px currentColor;
	border-right: solid 1px currentColor;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.link {
	text-decoration: none !important;
	display: inline-block;
	background: #437bd6;
	padding: 10px;
	color: #FFF !important;
	border-radius: 4px;
	cursor: pointer;
}
.but_nowin {
	color: #1d57ad;
	cursor: pointer;
}
.green {
	background: #82b013 !important;
}
.red {
	background: #F00 !important;
}
.violet {
	background: #9653a5;
}
.warning {
	border-bottom: 2px solid #F00 !important;
	}
.info {
	margin-top: 10px;
	border: 1px dotted #888888;
	background: #f0f0f0;
	padding: 20px;
}
.info_imp {
	margin-top: 10px;
	border: 1px dotted #666666;
	background: #ffeed9;
	padding: 20px;
}
.table {
	box-shadow: 10px 10px 1px #eee;
	border: 1px dashed #CCC;
	padding: 5px;	
}
.table td {
	vertical-align: top;	
	border-top: 1px solid #F0F0F0;
}
.table tr:nth-child(even) {
	background: #F8F8F8;
}
.tab_device {
	padding: 3px;
}
.tab_device td {
	padding: 5px 10px 5px 10px;
	vertical-align: top;
	border-bottom: 1px dotted #CCC;	
}
.tab_device .bg {
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	padding: 5px 10px;
	background: #d6dde9;
	color: #000;
}

tr .rowsel {
	background: #ffe1b8 !important;
}
.table th {
	font-weight: normal;
	vertical-align: top;	
	text-align: left;
	padding: 20px;
	color: #FFF;	
	background: #384861;	
	border-bottom: 2px solid #EEE;
}
.tabout {
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: none;
	margin-bottom: 10px;
}
.tabout th {
	text-align: left;
	font-weight: normal;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: #fee398;
	vertical-align: top;
	padding: 8px;
}
.tabout td {
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	vertical-align: top;
	padding: 8px;
}
.status td {
	height: 6px;
	padding-top: 0; 
	padding-bottom: 0;
	background: #6dccf5;
	border-bottom: 1px solid #E2E2E2;
}
.sim {
	float: left;	
	margin: 0 0 9px 2px;
}
.sim-corn {
	width: 40px;
	height: 0px;
	border-bottom: 13px solid #fee398;
    	border-left: 13px solid transparent;
}
.sim-main {
	width: 37px;
	height: 30px;
	background-color: #fee398;
	padding: 0 8px;
	text-align: center;	
}
#macros_tab {
	float: left;	
	font-size: 30px;
	margin: 6px 0 0 -10px;
	color: #5b858d;
}
.macros_act {
	background: #fee398 !important;
}
.logo {
	position: absolute;
	width: 195px;
	margin: -28px 0 0 6px;
	border: none;
}
.folder {
	margin-left: -10px;
	float: left;
	padding: 5px 10px;
	background: #ffb808; 
	color: #555;
	border-radius: 4px;
	cursor: pointer;
}
.folder:before {
 	content: '';
	width: 15px;
	height: 5px;
	border-radius: 0 10px 0 0;
	background: #e4a60c; 
	position: absolute;
	margin-top: -9px;
	margin-left: -10px;
}
.command {
	height: 68px;
}
.answer_head {
	font-size: 70%;
	color: #999;
}
.answer_left {
	float:left; 
	width: 45px;
	margin-right: 20px;
}
.answer_fix {
	width: 120px; 
	margin-bottom: 10px; 
}
.example {
	float: left;
	margin: 7px 10px 5px 0;
	padding: 5px 10px;
	background: #437bd6;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
}
.but {
	margin: 7px 10px 5px 0;
	padding: 5px 10px;
	background: #437bd6;
	text-align: center;
	width: 200px;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
}
.mobilemenu {
/*
	margin-top: 4px;
	float: left;
*/
	margin-top: -20px;
	position: absolute;
	display: none;
    	cursor: pointer;
	z-index: 1;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #97a9c3;
	margin: 6px 0;
	transition: 0.4s;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-8px, 6px) ;
	transform: rotate(-45deg) translate(-8px, 6px) ;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-9px, -8px) ;
}
.mainblanc {
	height: 100%;
	margin-top: 15px;
	background-image: url(sign.gif);
	background-position: right bottom;
	background-repeat: no-repeat;
}
.table_sort table {
	border-collapse: collapse;
}
.table_sort th {
	cursor: pointer;
}
.table_small th {
	padding: 10px 20px !important;
}
.table_small td {
	padding: 5px 20px !important;
}
.note {
	color: #000;
	background: #FFCC00;
	padding: 0 3px;
	cursor: copy;
}
.note2 {
	cursor: copy;
}
.light {
	color: #000;
}
.return_active {
	margin-top: 5px;
	color: #222;
	background: #acdcd4;
	padding: 10px;
}
.return_ok {
	margin-top: 5px;
	color: #222;
	background: #82b013;
	padding: 10px;
}
.return_error {
	margin-top: 5px;
	color: #FFF;
	background: #F00;
	padding: 10px;
}
#winResult {
	display: none;
}
th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
	position: relative;
}
th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
	right: 2px;
	position: absolute;
}
th.sorted[data-order="-1"]::after {
	content: "▼"
}
th.sorted[data-order="1"]::after {
	content: "▲"
}
progress {
	background-color: #DDD;
	border: 0;
	width: 100%;
	height: 18px;
	border-radius: 9px;
}
progress::-webkit-progress-bar {
	background-color: #DDD;
/*
	border-radius: 9px;
*/
}
progress::-webkit-progress-value {
	background-color: #82b013;
/*
	border-radius: 9px 0 0 9px;
*/
}
progress::-moz-progress-bar {
	background-color: #DDD;
/*
	border-radius: 9px;
*/
}
#progress_percent {
	margin: 5px 0 10px 0;
}
.legend {
	margin-top: 3px;
	font-size: 13px;
}
.Online {
	border-bottom: 1px solid #82b013;
}
.device .Online {
	color: #FFF;
	background: #82b013;
	text-align: center;
	padding: 7px 10px;
	border-radius: 15px;
	width: 150px;
	display: inline-block;
	margin-top: 10px;
}
.Offline {
	padding: 0px 5px;
	color: #FFF;
	background: #F00;
}
.device .Offline {
	text-align: center;
	padding: 7px 10px;
	border-radius: 15px;
	width: 150px;
	display: inline-block;
	margin-top: 10px;
}
.help_block {
	font-style: italic;
	color: #999;
	margin: -4px 0 7px 0;
}
.width {
	float:left; 
	margin: 0 10px 10px 0;
}
.extinfo { display: none; }
.exttab { display: none; }
.extblock { display: none; }
@media (max-width: 760px) {

	td { padding:10px }
	th { padding:15px 10px !important; }
	table { width: 100%; box-shadow: none !important; padding: 0 !important; }
	h1 {font-size: 27px; margin-top: 10px;}

  	.sidebar { display: none; }
	.extinfo { display: inline; }
	.exttab { display: revert; }
	.extblock { 
	text-align: center;
	width: 15px; 
	margin-right: 5px; 
	padding: 5px;
	display: inline-block; }
	.mobilemenu { display: inline-block; }
	.table_small {width: 100%;}
	.table_adaptive {width: 100%;}
	.help {margin-top: -72px !important;}
}
.showmobile { display: none; }
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { 
	.showmobile { display: inline; }
}

.hiddenInput {  
	position:absolute;
	overflow: hidden;
	display:block;  
	height:0px;  
	width:0px;  
 }
.help:before {
	line-height: 130%;
	font-size: 30px;
	color: #FFF;
	font-style: normal;
	content: '?';
}
.help {
	opacity: 0.5;
	text-align: center;
	width: 40px;
	height: 40px;
	background: #435e86;
	border-radius: 30px;
	display: inline-block;
	position: absolute;
	font-style: normal;
	right: 20px;
	margin-top: -82px;
}
.help:hover {
	opacity: 1;
	background: #3393dc;
	cursor: pointer;
}
#helpInfDesc {
	padding: 20px;
	background: #FFF;
	right: 20px;
	position: absolute;
	border-radius: 20px 0 20px 20px;
}
.qans {
	margin-top: 5px;
	padding: 8px;
	border-left: 3px solid #000;
	background: #EEE;
}
.roaming {
	background: #000;
	color: #FFF;
	padding: 3px 5px;
	border-radius: 5px;
}
.tablo {
	padding: 10px 20px;
	border: 4px solid #000;
	color: #000;
	background: #ffc800;
	border-radius: 12px;
	margin-bottom: 10px;
}
#desktop {
	display: none;
	padding: 20px;
	border-radius: 4px;
	background: #000;
	width: 30%;
	min-width: 300px;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 200000;
	opacity: 0.9;
	color: #fd0;
}
.announcement {
	background: #EEE;
	border-radius: 0 0 20px 20px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
.announcement div {
	padding: 35px 20px;
	border-bottom: 2px dotted #DDD;
}
.announcement h2 {
	margin-bottom: 20px;
}
.announcement span {
	display: inline-block;
	padding: 15px 20px 10px 20px;
}
.news {
	border: none !important;
	padding: 5px 20px !important;
	background: #384861;
	color: #FFF;
}
.date {
	font-size: 12px;
	padding: 0px !important;
	border: none !important;
	color: #888;
}
.announcement_note {
	background: #ffe1b8;
}
but {
    	color: #02007b;
    	padding: 1px 5px 2px 5px;
    	background: #ddefff;
    	border: 1px solid #d6d7f0;
    	border-radius: 3px;
    	opacity: 0.5;
}
.green-border {
	border: 2px solid #6ead21;
	border-radius: 12px;
	padding: 20px;
}
#loading {
	display: none;
}
.sel {
	padding: 2px 10px;
	border-radius: 10px;
	background: #ffe1b8;
}
.rhide {
	color: #AAA;
	font-weight: bold;
	border: 2px solid #BBB; 
	border-radius: 20px; 
	margin-left: 10px; 
	padding: 5px 8px;
	cursor: pointer;
}
#msg {
	background: #ffe1b8;
	padding: 15px 10px;
	margin-bottom: 10px;
	border-left: 4px solid #900;
}
.subsection td {
	border-bottom: 2px solid #888 !important;
}
.incoming td {
	background: #ffe1b8;
}
.section {
	color: #FFF;
	background: #444;
	line-height: 30px;
}
.explane {
	margin-left: 10px;
	color: #CCC;
}
.plus {
	color: #47ad0b;
	cursor: help;
}
.minus {
	color: #F00;
	cursor: help;
}
.hint {
	margin: -20px 0 30px 0;
	background: #EEE;
	border: 1px solid #E8E8E8;
	border-top: none;
	border-radius: 0 0 8px 8px;
	color: #8393ab;
	padding: 10px;
}
.onlineStatus span {
	background: #000;
	padding: 1px 4px;
	border-radius: 4px;
	opacity: 0.4;
	color: #FFF;
}
.tooltip {
	padding: 30px;
	border-radius: 30px 30px 30px 0;
	background-color: #edf3d1;
	display: inline-block;
	margin: 0;
	font-style: italic;
}
.pro_only {
	background: #990000;
	padding: 20px;
	border-radius: 12px;
	color: #FFF;
	margin-bottom: 10px;
}
.danger {
	background-color: #ffd9d9;
}
.danger_tab {
	background-color: #dc1010 !important;
	color: #FFF !important;
}
.hangup {
	background: #A00; 
	padding: 6px 10px; 
	margin: -6px 0 0 20px;
	float: right;
}
.bglogin1 table {
	background-image: url(bg/1.jpg);
	background-size: cover;
	background-position: top center;
}
.bglogin2 table {
	background-image: url(bg/2.jpg);
	background-size: cover;
	background-position: top center;
}
.bglogin3 table {
	background-image: url(bg/3.jpg);
	background-size: cover;
	background-position: top center;
}
.bglogin4 table {
	background-image: url(bg/4.jpg);
	background-size: cover;
	background-position: top center;
}
u {
    	color: #999;
    	margin-left: 11px;
    	font-size: 15px;
	text-decoration: none;
} 
s {
    	color: #999;
    	font-size: 15px;
	text-decoration: none;
} 
.hide {
	display: none;
}
#filter_hint {
	color: #999;
	display: inline-block;
	border: 1px dashed #AAA;
	border-radius: 12px;
	padding: 8px 10px;
	margin-bottom: 10px;
}

#filter_hint:hover {
	color: #444;
	border: 1px dashed #444;
	background: #ffe1b8;
	cursor: pointer;
}

.stat {
	display: inline-block;
	padding: 20px;
	border-radius: 12px;
	color: #000;
}

.grayscale {
	filter: grayscale(100%); 
	opacity: 0.5;
}

.navbar {
    background-color: #aab3c5;
    opacity: 0.9;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    border-radius: 0 50px 0 0;	
    margin-left: 250px;
}

@media screen and (max-width: 760px) {
  .navbar {
    border-radius: 0;	
    background-color: #435e86;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
  }
}

/* Style the links inside the navigation bar */
.navbar a, .navbar span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
    line-height: 350%;	
}

.navbar span {
    color: #444;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #437bd6;
    color: black;
}

/* Change the color of links on hover */
.navbar span:hover {
    background-color: #437bd6;
    color: black;
    cursor: pointer;	
}

/* Add a green background color to the active link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
    display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
/*@media screen and (max-width: 600px) {*/
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
/*}*/

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
/*@media screen and (max-width: 600px) {*/

  .navbar.responsive {
    border-top: 3px solid #FFF;
    background-color: #2c3442;
    border-radius: 0;	
    margin-left: 0;	
    opacity: 1;
    width: 100%;
}

  .navbar.responsive span {
   display: none;
}
  .navbar.responsive a {
    padding-left: 270px;
    line-height: 100%;	
    float: none;
    display: block;
    text-align: left;
  }
/*}*/

.ic {
    min-width: 80px;
}	

.pagination {
	margin: 15px 0;
	padding: 10px 20px;
	border-radius: 30px;
	background: #efe8d8;
	display: inline-block;
}
.pagination .page_active {
	color: #FFF;
	background: #384861;
	padding: 3px 5px;
	line-height: 130%;
	border-radius: 7px;
	z-index: 1000;
}

@media screen and (max-width: 760px) {
.login_div {
    margin-bottom: 20px;
}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .table_box {
    overflow: auto;	
  }
.device_main {
   margin-right: 0;
   display: block;
}
#helpInfDesc {
   width: 200px;
}
	.width {
		margin: 0 0 3px 0;
		width: 100%;
		opacity: 0.8;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.tablo {
		padding: 20px !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		border: none !important;
		border-radius: 20px !important;
		margin-bottom: 20px;	
		text-align: center;
		width: 100%;
	}
  .device img {
    float: none;
  }
  .icon-eject {
    display: none;
  } 	
  .ic {
    min-width: 50px;
  }	
  .dev_left {
    text-align: center;	
    width: 100%;
    border: none;
    border-bottom: 4px dotted #CCC;
    margin: 0 0 10px 0;
  } 		
 .dm-modal .dm-head {
    padding: 20px !important;
  }
  .dm-modal .dm-head h3 {
    font-size: 16px; 	
  }
  .dev_status {
    width: 100%;
  } 	
  .navbar.responsive {
    border-top: none;
  }	
  .navbar a, .navbar span {
    line-height: 100%;	
    color: #FFF;
  }
  .navbar.responsive a {
    padding-left: 26px;
  }	
}
